<body>
  <div class="container w-100">
    <div class="row w-100">
      <div>
        <h1>Próximos torneos: </h1>
      </div>
      {{#each tournaments}}
        <div class="col-md-3 d-flex justify-content-center">
          <div class="card m-2">
            <div class="card-body">
              <div>Fecha de inicio del torneo: {{begin_date}}</div>
              <div>Duracion del torneo: {{duration}}</div>
              <div>Categoria del torneo: {{categoria}}</div>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center">
            <a href="/tournaments/edit/{{_id}}">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="/tournaments/delete/{{_id}}">
              <i class="fa-solid fa-trash"></i>
            </a>
          </div>
        </div>

      {{/each}}
    </div>
  </div>

  {{#else}}
    <div class="card mx-auto">
      <div class="card-body">
        No hay torneos registrados
      </div>
    </div>
  {{/else}}
  <div class="form-group my-5 mx-auto w-50">
    <a
      href="/tournament/create"
      class="form-group btn btn-primary bg-success"
    >Registrar Torneo</a>
  </div>
</body>